run = "npm run build && npm run start"
entrypoint = "src/app/page.tsx"
modules = ["nodejs-20"]

[nix]
channel = "stable-24_05"

[env]
NODE_OPTIONS = "--max-old-space-size=4096"

[languages.typescript]
pattern = "**/*.ts"

[[ports]]
localPort = 3000
externalPort = 80
